<div class="container-fluid mt-4" *ngIf="patient">
  <div class="alert {{couleurAlert}}" *ngIf="messageAlert" role="alert">
    {{messageAlert}}
  </div>

  <div>
    <div class="text-center">
      <img class="profil" [src]="patient.photo ? patient.photo : '../assets/img/user.png'">
      <h3 [style.textTransform]="'capitalize'">
        {{patient.nom + ' ' + patient.prenom}}
      </h3>
      <h6 [style.textTransform]="'capitalize'">
        {{patient.email}}
      </h6>
      <p class="ion-padding-horizontal">
        {{ patient.description }}
      </p>
      <a class="btn btn-danger mr-2" (click)="delPatient()">Supprimer patient</a>
    </div>

    <h3>Symptomes</h3>

    <div class="row mt-4">
      <div [style.opacity]="isLoading ? '0.5' : ''" class="card mr-2 col-sm-12 col-md-6 mb-2" style="max-width: 540px;" button="true" (click)="addDescriptionSymptome()">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="mt-2 mb-2 ml-2 mr-2" width="100%" src="../assets/img/plus.png" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ajouter un symptôme textuel</h5>
              <p class="card-text">Vous pouvez ajouter une description textuelle du symptome du patient.</p>
            </div>
          </div>
        </div>
      </div>

      <div [style.opacity]="isLoading ? '0.5' : ''" class="card mr-2 col-sm-12 col-md-6 mb-2" style="max-width: 540px;" button="true">
        <div class="row g-0">
          <div class="col-md-4">
            <img (click)="initiateRecording()" class="mt-2 mb-2 ml-2 mr-2" width="100%" [src]="recording ? '../assets/img/headphone.gif' : '../assets/img/plus.png'" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" (click)="initiateRecording()">Ajouter un symptôme vocal</h5>
              <p class="card-text" (click)="initiateRecording()">{{ recording ? 'Record en cours...' : 'Vous pouvez faire un voice du symptôme' }}</p>
              <a class="btn btn-danger mr-2" *ngIf="recording" (click)="stopRecording()">Stop</a>
              <a class="btn btn-primary" *ngIf="recording" (click)="sendRecording()">Envoyer</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-sm-12 col-md-6 mb-2 mr-2" style="max-width: 540px;" button="true" *ngFor="let symptome of symptomes; let i = index">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="mt-2 mb-2 ml-2 mr-2" width="100%" src="../assets/img/virus.png" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Informations symptome {{i+1}}</h5>
              <p class="card-text" *ngIf="symptome.texte">{{ symptome.texte }}</p>
              <p *ngIf="symptome.voice">
                <audio style="width: 100%" controls="">
                  <source [src]="sanitize(symptome.voice)" type="audio/wav">
                </audio>
              </p>
              <a class="btn btn-danger mr-2" (click)="delSymptome(symptome.id)">Supprimer</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
