<div>
  <div class="container mt-4">
    <h3>Statistiques sexe patients</h3>

    <div *ngIf="nombrePatient === 0 && !isLoading" class="alert alert-danger" role="alert">
      Vous n'avez encore aucun patient pour afficher les statistiques
    </div>

    <div class="spinner-border" *ngIf="isLoading" role="status">
      <span class="visually-hidden"></span>
    </div>

    <div style="display: block">
      <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"></canvas>
    </div>

  </div>
</div>
