<main class="container">
  <div class="container">
    <div class="row">
      <div class="mt-4">

        <h3 class="mb-2">Informations sur le patient</h3>

        <div *ngIf="messageAlert" class="alert alert-danger" role="alert">
          {{messageAlert}}
        </div>

        <div class="mb-3">
          <div class="d-flex flex-column align-items-center">

            <div class="text-center" *ngIf="!cameraStart">
              <img width="300" height="300" src="{{apercuCapture === null ? '../../../assets/img/takePhoto.png' : apercuCapture }}" class="rounded" alt="...">
            </div>

            <div class="pb-2" *ngIf="!cameraStart">
              <button type="button" class="btn btn-primary mt-2" (click)="startCamera()"> {{apercuCapture === null ? 'Prendre une photo' : 'Changé la photo'}} </button>
            </div>

            <div [style.visibility]="cameraStart ? 'visible' : 'hidden'">
              <video #video class="vid" autoplay></video>
            </div>
            <div *ngIf="cameraStart">
              <button type="button" class="btn btn-primary" (click)="capture()">Prendre la photo</button>
            </div>
          </div>
        </div>

        <form [formGroup]="patientForm" (ngSubmit)="addPatient()">

            <div class="mb-3">
              <label class="form-label">Nom</label>
              <input type="text" [disabled]="isLoading" autocapitalize="on" formControlName="nom" required class="form-control" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label class="form-label">Prenom</label>
              <input type="text" [disabled]="isLoading" autocapitalize="on" formControlName="prenom" required class="form-control" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" [disabled]="isLoading" autocapitalize="on" formControlName="email" required class="form-control" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label class="form-label">Téléphone</label>
              <input type="tel" [disabled]="isLoading" autocapitalize="on" formControlName="phone" required class="form-control" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
              <label>Sexe</label>
              <select class="form-control" formControlName="sexe">
                <option value="m">Masculin</option>
                <option value="f">Feminin</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Localisation</label>
              <input type="text" *ngIf="coordinates !== null" value="{{coordinates.latitude}}° N" [disabled]="isLoading" class="form-control mb-2" autocapitalize="on" aria-describedby="emailHelp">
              <input type="text" *ngIf="coordinates !== null" value="{{coordinates.longitude}}° E" [disabled]="isLoading" class="form-control" autocapitalize="on" aria-describedby="emailHelp">
            </div>

            <div class="spinner-border mb-2" *ngIf="coordinates === null" role="status">
              <span class="visually-hidden"></span>
            </div>

            <!--agm-map *ngIf="coordinates !== null" [latitude]="coordinates.latitude" [longitude]="coordinates.longitude"></agm-map-->

            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea rows="7" [disabled]="isLoading" class="form-control" formControlName="description"></textarea>
            </div>

          <div class="text-center mt-5">
            <button style="padding-left: 50px; padding-right: 50px; padding-bottom: 15px; padding-top: 10px; border-radius: 30px" type="submit" [disabled]="patientForm.invalid || isLoading" class="btn btn-primary">Ajouter</button>
          </div>

          <div class="container-fluid mt-4">
            <div class="text-center">
              <div class="spinner-border" *ngIf="isLoading" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div style="visibility: hidden">
    <canvas #canvas class="vid"></canvas>
  </div>
</main>
