<nav class="navbar navbar-toggleable-md navbar-light bg-faded container">
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <form class="container-fluid justify-content-start">
      <button type="button" routerLink="../home" class="btn btn-labeled">
        <svg  width="32" height="32" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg>
      </button>
    </form>
    <a class="navbar-brand" href="#">Inscription</a>
  </div>
</nav>

<main class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 offset-md-4 col-md-4">
        <div>

        </div>
        <h3 class="mb-2">Informations</h3>

        <div *ngIf="messageAlert" class="alert alert-danger" role="alert">
          {{messageAlert}}
        </div>

        <form class="mb-2" #form="ngForm" (ngSubmit)="inscription(form)">

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre nom</label>
            <input name="nom" ngModel required [disabled]="isLoading" type="text" class="form-control" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre prenom</label>
            <input name="prenom" ngModel required [disabled]="isLoading" type="text" class="form-control" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre adresse email</label>
            <input name="email" ngModel required [disabled]="isLoading" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre numéro de téléphone</label>
            <input name="telephone" ngModel [disabled]="isLoading" required type="tel" class="form-control" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Votre mot de passe</label>
            <input minlength="6" name="password" [disabled]="isLoading" ngModel required type="password" class="form-control" id="exampleInputPassword1">
            <div class="form-text">6 Caractères minimum</div>
          </div>
          <div class="text-center mt-5">
            <button style="padding-left: 50px; padding-right: 50px; padding-bottom: 15px; padding-top: 10px; border-radius: 30px" [disabled]="form.invalid || isLoading" type="submit" class="btn btn-primary">S'inscrire</button>
          </div>

          <div class="container-fluid mt-4">
            <div class="text-center">
              <div class="spinner-border" *ngIf="isLoading" role="status">
                <span class="visually-hidden"></span>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</main>
