<div class="container-fluid mt-4 container">
  <div class="alert {{couleurAlert}}" *ngIf="messageAlert" role="alert">
    {{messageAlert}}
  </div>

  <div class="text-center">

    <img srcset="../assets/img/sensibilisation.png" width="25%"/>

    <form [formGroup]="sensibiliseForm" (ngSubmit)="send()" class="mt-3">

      <div class="mb-3">
        <label class="form-label">Message de sensibilisation pour vos patients</label>
        <textarea [disabled]="isLoading" formControlName="texte" inputmode="text" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Nom utilisateur</label>
        <input type="text" [disabled]="isLoading" autocapitalize="on" formControlName="username" required class="form-control" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label class="form-label">Mot de passe</label>
        <input type="email" [disabled]="isLoading" autocapitalize="on" formControlName="password" required class="form-control" aria-describedby="emailHelp">
      </div>

      <p class="text-center mt-3">
        <small>Il sagit des informations de votre compte Easysendsms, nous utilisons leurs services pour l'envoie des SMS à vos patients.</small>
      </p>

      <div class="text-center mt-3">
        <button style="padding-left: 50px; padding-right: 50px; padding-bottom: 15px; padding-top: 10px; border-radius: 30px" type="submit" [disabled]="sensibiliseForm.invalid || isLoading" class="btn btn-primary">Envoyer à {{patients.length}} patient{{patients.length > 1 ? 's' : ''}}</button>
      </div>

      <div class="container-fluid mt-4">
        <div class="text-center">
          <div class="spinner-border" *ngIf="isLoading" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
