<div class="container">
  <div class="text-center">
    <img srcset="../assets/img/whatsup.png" width="20%"/>

    <h6> <p class="mt-5"> Consultez les nouvelles informations qui vous concernes dans les differents items. </p> </h6>

    <div class="row text-center">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="card" (click)="infos()" type="button">
          <img width="100%" srcset="../assets/img/symptome.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">Symptomes</h5>
            <p class="card-text">Consultez la liste des symptomes à jour.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="card">
          <img width="100%" srcset="../assets/img/audio-img.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">Detail maladie</h5>
            <audio controls>
              <source src="../assets/audio/1.mp3" type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="card" type="button" (click)="dashboard.currentPage = 'Statistiques'">
          <img width="100%" srcset="../assets/img/stat.png" alt="...">
          <div class="card-body">
            <h5 class="card-title">Statistiques</h5>
            <p class="card-text">Consultez les statistiques de l'épidémie.</p>
          </div>
        </div>
      </div>



    </div>


  </div>
</div>
