<ion-list class="ion-padding-horizontal">
  <ion-list-header>
    La liste de vos patients
  </ion-list-header>

  <h6 *ngIf="patients.length === 0"><p class="ion-text-center">Aucun patient enregistré</p></h6>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="6">
        <ion-card (click)="openPageAddPatient()" button="true" class="ion-no-padding" style="margin: 4px;">
          <img srcset="../assets/img/add-patient.png"/>
          <ion-card-header>
            <ion-card-subtitle [style.textTransform]="'capitalize'">Patient</ion-card-subtitle>
            <ion-card-title [style.textTransform]="'capitalize'">Ajouter </ion-card-title>
          </ion-card-header>
          <ion-card-content [style.textTransform]="'capitalize'">
              Cliquez ici
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="4" size-md="6" size-sm="6" size="6" *ngFor="let patient of patients; let i = index">
        <ion-card button="true" (click)="openPageApercu(patient.id)" class="ion-no-padding" style="margin: 4px;">
          <img [srcset]="patient.photo === '' ? (patient.sexe === 'm' ? '../assets/img/patient.png' : '../assets/img/patiente.png') : patient.photo"/>
          <ion-card-header>
            <ion-card-subtitle [style.textTransform]="'capitalize'">{{ patient.email.length>15 ? (patient.email | slice:0:13)+'..' : patient.email}}</ion-card-subtitle>
            <ion-card-title [style.textTransform]="'capitalize'">{{ (patient.nom + ' ' + patient.prenom).length > 10 ? patient.prenom : patient.nom + ' ' + patient.prenom }} </ion-card-title>
          </ion-card-header>
          <ion-card-content [style.textTransform]="'capitalize'">
            {{patient.description === '' ? (patient.telephone.length>10)? (patient.telephone | slice:0:8)+'..':(patient.telephone) : (patient.description.length>10)? (patient.description | slice:0:8)+'..':(patient.description)}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
