<div class="container-fluid mt-4">
  <div class="alert alert-danger" *ngIf="messageAlert" role="alert">
    {{messageAlert}}
  </div>
  <div class="text-center">
    <img srcset="../assets/img/logout.png" width="25%"/>

    <h6> <p class="mt-5"> Souhaitez vous vraiment être déconnecté ? <br> Vous devrez a nouveau vous reconnecté après la fermeture de cette session. </p> </h6>

    <div class="mt-3"> <button (click)="deconnexion()" style="padding-left: 50px; padding-right: 50px; padding-bottom: 15px; padding-top: 10px; border-radius: 30px" type="button" class="btn btn-primary btn-lg">Se deconnecté</button> </div> <br> <br>

    <p class="ion-padding-vertical">
      <a class="link-primary" onclick="return false" href="" (click)="about()" [style.fontWeight]="'500'">A propos de Suep</a>
    </p>
  </div>
</div>
